$red: #d22630;
.content {
    max-width: 1120px;
    margin: 40px auto 0 auto; 
    display: flex;
    flex-direction: column;
    gap: 30px;
    h1 {
        font-family: "Kharkiv Tone", sans-serif;
        font-weight: 800;
        font-size: 40px;
        text-transform: uppercase;
        color: $red;
    }
    .base {
        
        width: 1063px;
        .layout {
            background: linear-gradient(180deg, #c3ccdc 0%, #959eb7 100%);
            border-top-left-radius: 18px;
            border-top-right-radius: 18px;
            gap: 36px;
            
            display: flex;
            flex-direction: column;
            padding: 40px 23px;
            position: relative;
            .line{
                width: 2px;
                height: 100%;
                background: $red;
                position: absolute;
                margin-top: 20px;
                margin-bottom: 20px;
                top:0;
                right:250px;
            }
            .list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p {
                    font-weight: 400;
                    font-size: 20px;
                    color: #000;
                }
                button {
                    display: inline-block;
                        margin-top: 10px;
                        padding: .75rem 1.25rem;
                        border-radius: 10rem;
                        color: #d63045;
                        text-transform: uppercase;
                        font-size: 1rem;
                        letter-spacing: .15rem;
                        transition: all .3s;
                        position: relative;
                        overflow: hidden;
                        width: 200px;
                        height: 40px;
                        font-family: "Open Sans";
                        font-weight: bold;
                        z-index: 1;
                    
                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #ffffff;
                            border-radius: 10rem;
                            z-index: -2;
                        }
                    
                        &:before {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 0%;
                            height: 100%;
                            background-color: darken(#d63045, 15%);
                            transition: all .3s;
                            border-radius: 10rem;
                            z-index: -1;
                        }
                    
                        &:hover {
                            color: #fff;
                    
                            &:before {
                                width: 100%;
                            }
                        }
                }
            }
        }

        .action {
            z-index: 2;
            position: relative;
            display: flex;
            gap: 30px;
            background: linear-gradient(to right, #c5c5c5, #d63045);
            padding: 23px 40px;
            border-bottom-left-radius: 18px;
            border-bottom-right-radius: 18px;
            .edit {
                border-radius: 29px;
                padding: 2px 23px;
                width: 222px;
                height: 38px;

                font-weight: 400;
                font-size: 20px;
                text-transform: capitalize;
                text-align: center;
                color: #333;
                font-family: "Kharkiv Tone", sans-serif;
                transition: opacity 0.3s;
                &:active{
                    opacity: 0.7;
                }
            }
            .save {
                border-radius: 29px;
                font-family: "Kharkiv Tone", sans-serif;
                padding: 2px 19px;
                width: 165px;
                height: 38px;
                background: #d22630;
                font-weight: 400;
                font-size: 20px;
                text-transform: capitalize;
                text-align: center;
                color: #fff;
                transition: opacity 0.3s;
                &:active{
                    opacity: 0.7;
                }
            }
            .report {
                background: linear-gradient(180deg, #b4b9ca 0%, #d6d9df 100%);
                border-radius: 29px;
                padding: 2px 23px;
                width: 238px;
                height: 38px;
                font-weight: 400;
                font-size: 20px;
                text-align: center;
                color: #333;
                font-family: "Kharkiv Tone", sans-serif;
                transition: opacity 0.3s;
                &:active{
                    opacity: 0.7;
                }
            }
        }
    }
}
